:root {
  --ifm-color-primary: #764abc;
  --ifm-color-primary-dark: #6a43a9;
  --ifm-color-primary-darker: #5e3b96;
  --ifm-color-primary-darkest: #533484;
  --ifm-color-primary-light: #845cc3;
  --ifm-color-primary-lighter: #916ec9;
  --ifm-color-primary-lightest: #9f80d0;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Raleway", "PingFang SC", "Microsoft Yahei",
    sans-serif;
  --ifm-heading-font-family: "Raleway", "PingFang SC", "Microsoft Yahei",
    sans-serif;
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar__items .navbar__link,
.menu__link,
.dropdown__link {
  font-size: 1rem;
  font-weight: 600;
}
